<div id="sidenav">
    <ul>
        <li><a href="#" @onclick="OnHomeIsClicked">Home</a></li>
        <li><a href="#" @onclick="OnMyTasksIsClicked">My Tasks</a></li>
        <li><a href="#" @onclick="OnAddNewTaskIsClicked">Add New Task</a></li>
    </ul>
</div>
