@page "/"
@page "/home"
@using Todo.Web.Services
@using static Todo.Web.Services.QuoteService
@inject QuoteService QuoteService;

<PageTitle>Tasks</PageTitle>

<div class="quote-container">
    @if (randomQuotes is not null)
    {
        <div class="quote">
            <p class="quote-content">@randomQuotes.content</p>
            <p class="quote-author">- @randomQuotes.author</p>
        </div>
    }
</div>


@code
{
    private Quote? randomQuotes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        randomQuotes = await QuoteService.GetRandomQuoteAsync();
    }

}