@using Todo.Shared.Responses
@using Todo.Web.Common;
@using Todo.Web.Services;
@using Todo.Web.Services.Interfaces
@using Todo.Web.State

@inject ITodoMangerService TodoEntriesService
@inject AppState AppState


@attribute [Route(NavigationRoutes.MyCategories)]

@rendermode InteractiveServer

<PageTitle>My Tasks</PageTitle>

@if (_categories != null && _categories.Any())
{
    @foreach (var category in _categories)
    {
        <CategoryComponent Category="category" />
    }
}
else
{
    <p class="no-entries">No TODO entries available.</p>
}



