@page "/"
@page "/home"

<PageTitle>Tasks</PageTitle>

<div class="quote-container">
    @if (randomQuotes is not null)
    {
        <div class="quote">
            <p class="quote-content">@randomQuotes.content</p>
            <p class="quote-author">- @randomQuotes.author</p>
        </div>
    }
</div>


