:root {
    --clr-primary: white;
    --clr-light: white;
    --clr-dark: #333;
    --clr-warning: rgb(99,36,36);
}

* {
    list-style: none;
}

    *,
    *::before,
    *::after {
        font-family: inherit;
        box-sizing: border-box;
    }

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    background: linear-gradient(90deg, rgba(51,42,42,1) 19%, rgba(72,26,147,1) 57%);
}

.title {
    grid-area: header;
    background-color: blue;
    font-size: large;
}



a {
    text-decoration: none
}

#header {
    width: 100%;
    text-align: center;
    font-weight: 900;
    color: rgba(0,0,0, 0.3);
    letter-spacing: 2px;
    display: flex;
    justify-content: left;
    background: black;
    color: white;
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 999;
}

.sidenav {
    width: 15%;
    height: 100vh;
    float: left;
    background: linear-gradient(90deg, rgba(51,42,42,1) 14%, rgba(18,22,24,1) 90%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: normal;
    position: sticky;
    top: 0;
    z-index: 998;
}

    .sidenav ul a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 65px;
        font-size: 20px;
        color: white;
        box-sizing: border-box;
    }

    .sidenav a:hover {
        text-decoration: underline;
        padding-left: 2px;
    }

        .sidenav a:hover::after {
            width: 100%;
            transition-delay: 0.3s; /* Add a delay to the transition */
        }

}

.sub-menu li:hover::after {
    width: 100%;
    transition-delay: 0.3s; /* Add a delay to the transition */
}


.todoContainer {
    display: flex;
    flex-wrap: wrap;
}


.card-header {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    min-width: 80vw;
}

.todo-body {
    height: 20vw;
}

.todo-task-row {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #fff;
}

.todo-task-row.expanded {
    height: 20vw;
}



.comment-input {
    margin-bottom: 10px;
}

.image-circle {
    padding: 1vw;
    margin-left: 2vw;
    margin-top: 1vw;
    background-image: url(Media/circle.png);
    background-size: cover;
    cursor: pointer;
    margin-bottom: 10px;
    align-content: flex-end;
}

    .image-circle.done {
        background-image: url(Media/done.png);
    }

.todo-label {
    padding: 1vw;
    margin-left: 0px;
    color: red;
    cursor: pointer;
    color: black;
    font-size: 18px;
    min-width: 350px;
}

    .todo-label.done {
        text-decoration: line-through;
        color: gray;
    }


.check-box {
    background: black;
}



.image-delete {
    padding: 1vw;
    background-image: url(Media/delete.png);
    background-size: cover;
    margin-right: 10px;
    cursor: pointer;
}

.todo-task-properties {
    padding: 1vw;
    background-image: url(Media/properties.png);
    background-size: cover;
    margin-right: 10px;
    cursor: pointer;
}


.card-footer {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px; /* Adjust the padding according to your design */
    background-color: deepskyblue;
    font-size: 15px;
    margin-top: auto; /* Push the .card-footer to the end of the container */
}

.add-new-task-form {
    padding: 1px;
}

h2 {
    color: #333;
    margin-bottom: 5px;
}

p {
    margin: 5px 0;
    color: #666;
}


.no-entries {
    color: #999;
    text-align: center;
}






#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
